.contenedor{
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(1,1fr);
    grid-template-areas: 
    'enc'
    'nav'
    'maps'
    'pie'
    ;
    margin: auto;
}

.maps{
    grid-area: maps;
    text-align: center;
}

.maps iframe{
    height: 700px;
    width: 100%;
    border-radius: 15px;
}

@media only screen and (max-width: 800px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        'enc'
        'nav'
        'maps'
        'pie'
        ;
        margin: auto;
    }
}